#ali1{
  background:#003252;
  /*padding: 30px;*/
  padding-top: 67px;
  background: #003252;
  height: 300px;
  margin: 0px;
}

#ali2{
  color: #A2ABB0;
  font-size: 20px;
  margin-top: 5px;
}
#ali3{
  color:#27A1C5;
  margin-bottom: 30px;
}

#l1{
  display: block;
  text-align: left;
  padding-top: -30px;
  margin-top: -35px;
  margin-right: -120px;
  width: 22%;


}
#l2{
  display: block;
  margin-top: -35px;
  margin-right: -60px;
  width: 22%;
  text-align: left;
}
#list{
  margin-top: -35px;
  width:22%;
  text-align: left;

}
.dil{
  display: block;
  color:#ffffff;
  margin-top: 33px;
  text-align: left;
  list-style:none;
  margin-left: -40px;
}

#listlast{
  display: block;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-top: -66px;
  margin-right: 0px;
  margin-left: 150px;
  margin-bottom: 0px;
  width: 31%;

}
#row1{
  color: #94B7CB;
  display: block;
  text-align: left;
}
#row2{
  color: #94B7CB;
}
