    /*ANTOINE*/

    .angrytext1 {
        -webkit-animation: shake 3s linear 1s infinite normal;
        animation: shake 3s linear 1s infinite normal;
    }
    @-webkit-keyframes shake {
        0% {
            transform: rotate(-15deg);
            -webkit-transform: rotate(-15deg);
        }
        2% {
            transform: rotate(15deg);
            -webkit-transform: rotate(15deg);
        }
        4% {
            transform: rotate(-18deg);
            -webkit-transform: rotate(-18deg);
        }
        6% {
            transform: rotate(18deg);
            -webkit-transform: rotate(18deg);
        }
        8% {
            transform: rotate(-22deg);
            -webkit-transform: rotate(-22deg);
        }
        10% {
            transform: rotate(22deg);
            -webkit-transform: rotate(22deg);
        }
        12% {
            transform: rotate(-18deg);
            -webkit-transform: rotate(-18deg);
        }
        14% {
            transform: rotate(18deg);
            -webkit-transform: rotate(18deg);
        }
        16% {
            transform: rotate(-12deg);
            -webkit-transform: rotate(-12deg);
        }
        18% {
            transform: rotate(-12deg);
            -webkit-transform: rotate(-12deg);
        }
        20% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }
    }
    @keyframes shake {
        0% {
            transform: rotate(-15deg);
            -ms-transform: rotate(-15deg);
        }
        2% {
            transform: rotate(15deg);
            -ms-transform: rotate(15deg);
        }
        4% {
            transform: rotate(-18deg);
            -ms-transform: rotate(-18deg);
        }
        6% {
            transform: rotate(18deg);
            -ms-transform: rotate(18deg);
        }
        8% {
            transform: rotate(-22deg);
            -ms-transform: rotate(-22deg);
        }
        10% {
            transform: rotate(22deg);
            -ms-transform: rotate(22deg);
        }
        12% {
            transform: rotate(-18deg);
            -ms-transform: rotate(-18deg);
        }
        14% {
            transform: rotate(18deg);
            -ms-transform: rotate(-18deg);
        }
        16% {
            transform: rotate(-12deg);
            -ms-transform: rotate(-12deg);
        }
        18% {
            transform: rotate(-12deg);
            -ms-transform: rotate(-12deg);
        }
        20% {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
        }
    }
    header {
        text-align: center;
        color: white;
    }
    header .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    header img {
        display: block;
        margin: 0 auto 20px;
    }
    header .intro-text .name {
        display: block;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
    }
    header .intro-text .skills {
        font-size: 1.25em;
        font-weight: 300;
    }
    @media (min-width: 768px) {
        header .container {
            padding-top: 200px;
            padding-bottom: 100px;
        }
        header .intro-text .name {
            font-size: 4.75em;
        }
        header .intro-text .skills {
            font-size: 1.75em;
        }
    }
    @media (min-width: 768px) {
        .navbar-fixed-top {
            padding: 25px 0;
            -webkit-transition: padding 0.3s;
            -moz-transition: padding 0.3s;
            transition: padding 0.3s;
        }
        .navbar-fixed-top .navbar-brand {
            font-size: 2em;
            color: white;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-fixed-top.navbar-shrink {
            padding: 10px 0;
            background-color: rgba(255, 255, 255, 0.9);
        }
        .navbar-fixed-top.navbar-shrink .navbar-brand {
            font-size: 1.5em;
            color: gray;
        }
    }
    .navbar {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
    }
    .navbar a:focus {
        outline: none;
    }
    .navbar .navbar-nav {
        letter-spacing: 1px;
    }
    .navbar .navbar-nav li a:focus {
        outline: none;
    }
    .navbar-default, .navbar-inverse {
        border: none;
        background-color: #27A1C5;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
    }
    .navbar-fixed-top.navbar-shrink .navbar-nav>li>a {
        color: gray;
    }
    /*ALI*/

    .container-fluid {
        padding: 0px;
    }
    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        height: auto
    }
    input[type="search"] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box
    }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none
    }
    legend {
        border: 0;
        padding: 0px;
    }
    textarea {
        overflow: auto
    }
    optgroup {
        font-weight: bold
    }
    table {
        border-collapse: collapse;
        border-spacing: 0
    }
    td, th {
        padding: 0
    }
    :root {
        font-size: 16px
    }
    body {
        font-family: "adobe-clean", Helvetica, Arial, sans-serif;
        color: #033351;
        line-height: 1.75rem;
        -webkit-font-smoothing: antialiased;
        padding: 0px;
    }
    .bounds, .bounds--wide, .page-bounds {
        max-width: 966px;
        position: relative;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box
    }
    a {
        color: #27a1c5;
        text-decoration: none
    }
    a:hover {
        text-decoration: underline
    }
    h2 {
        text-transform: uppercase;
        margin: 0 0 1rem;
        font-size: 1.125rem;
        font-weight: 300
    }
    .button--cta {
        border-radius: 4px;
        background: #f4b504;
        color: #fff;
        text-transform: uppercase;
        border: none;
        font-size: 1.0625rem;
        font-weight: normal;
        padding: 8px 27px 10px;
        text-decoration: none;
        display: inline-block
    }
    .button--cta:hover {
        text-decoration: none;
        background: #f2a700
    }
    .button--pill, .button--pill--gray, .button--pill--next, .button--pill--next--gray, .button--pill--prev, .button--pill--prev--gray, .button--pill--blog-post {
        color: #033351;
        border-radius: 18px;
        background: #fff;
        text-transform: uppercase;
        border: none;
        text-decoration: none;
        display: inline-block;
        height: 36px;
        box-sizing: border-box;
        padding-top: 4px;
        padding-right: 15px;
        padding-bottom: 2px;
        padding-left: 15px;
        font-size: 1.125rem
    }
    .button--pill--gray {
        background: #f2f2f2
    }
    .button--pill--next, .button--pill--next--gray, .button--pill--prev, .button--pill--prev--gray, .button--pill--blog-post {
        position: relative;
        padding-right: 31px
    }
    @media (min-width: 820px) {
        body {
            padding-top: 0px;
        }
        h2 {
            margin: 0 0 1.5rem
        }
    }
    body.home-body::before {
        background: #27a1c5
    }
    .bounds, .bounds--wide, .page-bounds {
        max-width: 1240px;
    }
    .home-hero {
        height: auto;
        background: #27a1c5;
        box-sizing: border-box;
        padding-top: 35px;
        position: relative;
        margin-bottom: 64px
    }
    .home-hero .bounds--header {
        height: 100%;
        margin-bottom: 20px;
        padding-bottom: 310px;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto
    }
    .home-hero .bounds--header:before {
        content: "";
        display: block;
        width: 320px;
        height: 380px;
        background-size: contain;
        position: absolute;
        bottom: -80px;
        right: 50%;
        margin-right: -160px;
        z-index: 0
    }
    .home-hero h1 {
        font-weight: 300;
        color: #003252;
        font-size: 3.125rem;
        line-height: 3.125rem;
        z-index: 2;
        position: relative;
        margin-bottom: 48px;
        max-width: 550px
    }
    .home-hero .button--cta {
        margin-right: 26px
    }
    .home-hero a {
        z-index: 2
    }
    .home-hero footer {
        position: relative;
        background: rgba(22, 146, 178, 0.9);
        width: 100%;
        z-index: 2;
        padding: 20px 0;
        box-sizing: border-box;
        height: auto
    }
    .home-hero footer .bounds, .home-hero footer .bounds--wide, .home-hero footer .page-bounds {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .home-hero footer .vr {
        position: relative;
        height: 1px;
        background: #3fadcf;
        width: 30%;
        min-width: 250px;
        display: block;
        margin: 20px 0 30px
    }
    .home-hero .button--pill--next, .home-hero .button--pill--next--gray, .home-hero .button--pill--prev, .home-hero .button--pill--prev--gray, .home-hero .button--pill--blog-post {
        margin-top: 7px
    }
    .link--learn-more {
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 1.0625rem;
        padding-bottom: 3px
    }
    .link--learn-more:hover {
        text-decoration: none
    }
    .hero-footer__section {
        color: #fff;
        text-align: center;
        max-width: 525px;
        padding: 0 10px 14px;
        box-sizing: border-box;
    }
    .hero-footer__section2 {
        color: #fff;
        text-align: center;
        max-width: 525px;
        padding: 0 10px 14px;
        box-sizing: border-box;
        background: url("http://phonegap.com/images/phone_robit.svg") no-repeat center;
        z-index: 0;
    }
}
.hero-footer__section h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 1rem;
    margin-top: 0rem
}
section h2 {
    font-size: 1.875rem;
    text-transform: none;
    margin-bottom: 20px;
    text-align: center
}
.announcement-banner {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
    background: rgba(43, 169, 77, 0.9);
    border-top: 2px solid rgba(81, 201, 118, 0.9);
    text-transform: uppercase;
    font-size: 1.0625rem;
    top: -39px
}
.announcement-banner a {
    color: #fff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 17px;
    display: block
}
@media (min-width: 720px) {
    .home-hero {
        height: 900px
    }
    .home-hero .bounds--header {
        margin-top: 100px;
        padding-bottom: 0;
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
        height: auto
    }
    .home-hero .bounds--header:before {
        width: 440px;
        height: 720px;
        bottom: -460px;
        right: 48px;
        margin-right: 0
    }
    .home-hero footer {
        position: relative;
        bottom: 0
    }
}
@media (min-width: 930px) {
    .home-hero {
        height: 672px
    }
    .home-hero .bounds--header:before {
        width: 620px
    }
    .home-hero footer {
        position: relative;
        bottom: 0;
        height: 264px
    }
    .home-hero footer .bounds, .home-hero footer .bounds--wide, .home-hero footer .page-bounds {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .home-hero footer .vr {
        position: relative;
        width: 1px;
        min-width: 1px;
        background: #3fadcf;
        height: 100%;
        display: block
    }
    @media (min-width: 700px) {
        .sub-footer {
            background: #ddecf1;
            text-align: center;
            padding-top: -10px;
        }
        .sub-footer .bounds {
            max-width: 930px;
            padding: -5px -5px 40px;
            box-size: border-box;
            margin: auto;
        }
        .sub-footer .bounds h2 {
            font-size: 1.875rem;
            text-transform: none;
            margin-bottom: 3rem;
            padding: -20px;
            padding-bottom: 0px;
        }
    }

    #ali1{
      background:#003252;
      /*padding: 30px;*/
      padding-top: 67px;
      background: #003252;
      height: 100%;
      margin: 0px;
    }

    #ali2{
      color: #A2ABB0;
      font-size: 20px;
      margin-top: 5px;
    }
    #ali3{
      color:#27A1C5;
      margin-bottom: 30px;
    }

    #l1{
      display: block;
      text-align: left;
      padding-top: -30px;
      margin-top: -35px;
      margin-right: -120px;
      width: 22%;


    }
    #l2{
      display: block;
      margin-top: -35px;
      margin-right: -60px;
      width: 22%;
      text-align: left;
    }
    #list{
      margin-top: -35px;
      width:22%;
      text-align: left;

    }
    .dil{
      display: block;
      color:#ffffff;
      margin-top: 33px;
      text-align: left;
      list-style:none;
      margin-left: -40px;
    }

    #listlast{
      display: block;
      text-align: left;
      padding-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
      padding-bottom: 0px;
      margin-top: -66px;
      margin-right: 0px;
      margin-left: 150px;
      margin-bottom: 0px;
      width: 31%;

    }
    #row1{
      color: #94B7CB;
      display: block;
      text-align: left;
    }
    #row2{
      color: #94B7CB;
    }

    /*AHMED*/
    #ahmed1 {
    list-style: armenian;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-bottom: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.home-gid__item {
    width: 418px;
    text-align: center;
    margin: 23px 0
}
.home-gid__item h3 {
    letter-spacing: .03125rem;
    color: red;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: normal;
    margin: 0
}
.home-gid__item p {
    margin: 0 0 2px;
    line-height: 1.625rem
}
.home-gid__item footer {
    color: red;
    font-size: .875rem;
    text-transform: uppercase
}
svg {
    height: 60px;
    color: transparent;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.home-gid__item {
    text-align: center;
}
@media (min-width: 994px) {
    .tools ul {
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between
    }
    .home-gid__item h3 {
        letter-spacing: 0.03125rem;
        color: red;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: normal;
        margin: 0px;
    }
    
    /*AMINA*/

    #amina {
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 35px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        text-align: center;
        text-transform: none;
    }
    #amina2 {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
